@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Jost;
  src: url("/fonts/Jost/Jost-VariableFont_wght.ttf") format("opentype");
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("opentype");
}

@layer components {
  .bannerLogo {
    @apply font-inter text-white text-[21.8px] leading-[22.8px] font-medium
    md:text-[36px] md:leading-[38px];
  }
}

@layer components {
  .serviceHeader {
    @apply font-jost text-white     text-[18.6px] leading-[21px]
    md:text-[31px] md:leading-[35px];
  }
}

@layer components {
  .heroHeader {
    @apply font-inter text-white text-[63px] leading-[65px]
    md:text-[105px] md:leading-[108.8px];
  }
}

@layer components {
  .secondaryHeader {
    @apply font-inter text-white text-[25.2px] leading-[29.5px]
    md:text-[42px] md:leading-[48.8px];
  }
}

@layer components {
  .quoteHeader {
    @apply font-inter text-white text-[30px] leading-[35px]
    md:text-[75px] md:leading-[82.5px];
  }
}

@layer components {
  .quoteText {
    @apply font-inter text-white text-[11.5px] leading-[15px]
      md:text-[19px] md:leading-[25px];
  }
}

@layer components {
  .numberHeader {
    @apply font-inter text-white text-[63.5px] leading-[66px]
    md:text-[106px] md:leading-[110px];
  }
}

@layer components {
  .text {
    @apply font-jost text-white text-[14.4px] leading-[16.8px]
    md:text-[24px] md:leading-[28px];
  }
}

@layer components {
  .blogTitle {
    @apply font-jost text-white text-[10.3px] leading-[13.4px]
    md:text-[21.5px] md:leading-[28px];
  }
}

@layer components {
  .blogText {
    @apply font-jost text-white text-[9.12px] leading-[13.4px]
    md:text-[19px] md:leading-[28px];
  }
}

@layer components {
  .menuBurger {
    @apply font-jost text-white text-[15px] leading-[15px] border-b border-white pb-1
    md:text-[21px] md:leading-[22px]
    hover:text-highlight hover:border-highlight;

  }
}

@layer components {
  .menuLinks {
    @apply font-jost text-white text-[37.2px] leading-[30px] tracking-[1px]
    lg:text-[62px] lg:leading-[80px]
    w-fit border-b-2
  hover:text-highlight hover:border-highlight;
  }
}



@layer components {
  .navLinks {
    @apply font-jost text-white text-[18px] leading-[18px] border-b border-white pb-1
    hover:text-highlight hover:border-highlight;

  }
}


.circles {
  width:300px;
  height:300px;
  position:relative;
  margin:auto;
}
.circles > * {
  background-color:transparent;
  box-sizing:border-box;
  border:5px solid powderblue;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-radius: 50%;
  position:absolute;
  animation: spin 4s infinite linear alternate;
}

.circle1 {
  width: 300px; height: 300px;
  animation-delay:-5s;
  border-color:rgba(109,180,201, 1);
}
.circle2 {
  width: 280px; height: 280px;
  top:10px;left:10px;
  animation-delay:-4.9s;
  border-color:rgba(109,180,201, .95);
}
.circle3 {
  width: 260px; height: 260px;
  top:20px;left:20px;
  animation-delay:-4.8s;
  border-color:rgba(109,180,201, .9);
}
.circle4 {
  width: 240px; height: 240px;
  top:30px;left:30px;
  animation-delay:-4.7s;
  border-color:rgba(109,180,201, .85);
}
.circle5 {
  width: 220px; height: 220px;
  top:40px;left:40px;
  animation-delay:-4.6s;
  border-color:rgba(109,180,201, .8);
}
.circle6 {
  width: 200px; height: 200px;
  top:50px;left:50px;
  animation-delay:-4.5s;
  border-color:rgba(109,180,201, .75);
}
.circle7 {
  width: 180px; height: 180px;
  top:60px;left:60px;
  animation-delay:-4.4s;
  border-color:rgba(109,180,201, .7);
}
.circle8 {
  width: 160px; height: 160px;
  top:70px;left:70px;
  animation-delay:-4.3s;
  border-color:rgba(109,180,201, .65);
}
.circle9 {
  width: 140px; height: 140px;
  top:80px;left:80px;
  animation-delay:-4.2s;
  border-color:rgba(109,180,201, .6);
}
.circle10 {
  width: 120px; height: 120px;
  top:90px;left:90px;
  animation-delay:-4.1s;
  border-color:rgba(109,180,201, .55);
}
.circle11 {
  width: 100px; height: 100px;
  top:100px;left:100px;
  animation-delay:-4s;
  border-color:rgba(109,180,201, .5);
}
.circle12 {
  width: 80px; height: 80px;
  top:110px;left:110px;
  animation-delay:-3.9s;
  border-color:rgba(109,180,201, .45);
}
.circle13 {
  width: 60px; height: 60px;
  top:120px;left:120px;
  animation-delay:-3.8s;
  border-color:rgba(109,180,201, .4);
}
.circle14 {
  width: 40px; height: 40px;
  top:130px;left:130px;
  animation-delay:-3.7s;
  border-color:rgba(109,180,201, .35);
}
.circle15 {
  width: 20px; height: 20px;
  top:140px;left:140px;
  animation-delay:-3.6s;
  border-color:rgba(109,180,201, .3);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);};
}
